*{
    margin: 0px;
    padding: 0px;
}
.linha1{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
}

.linha2{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://cdn.pixabay.com/photo/2014/04/04/21/57/blue-313995_960_720.jpg') no-repeat;
    background-size: 100%;
}

.linha2 p{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    text-align: center;
}
