    *{
        margin: 0px;
        padding: 0px;
        font-family: Verdana, Geneva, Tahoma, sans-serif
    }

    body{
        width: 100vw;
        height: auto;
    }

    .linha1{
        width: 100%;
        height: auto;
        padding: 5% 0 5% 0;
        background-color: #4267B2;
    }

    .linha1 h1{
        text-align: center;
        font-size: 150%;
        color: whitesmoke;
    }
    
    .linha2 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #E9EBEE;
        
    }

    .linha2 nav{
        width: 98%;
        height: 30vh;
        padding: 5% 0 5% 0;
        margin: 1% 0 1% 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        border-radius: 2vw;
    }

    .linha2 nav a {
        font-size: 110%;
        width: 90%;
        height: 20%;
        border-radius: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #4267B2;
        border: 2px solid #E9EBEE;
    }

    .linha2 section{
        width: 98%;
        height: 120vh;
        padding: 5% 0 5% 0;
        margin: 0.5% 0 1% 0;
        border-radius: 2vw;
        background-color: #05060E;
    }

    .sheader {
        height: 15vw;
    }   

    .sheader h2{
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        color: white;
    }
    
    .lista{
        width: 100%;
        height: 70vh;
    }

    .lista section{
        width: 100%;
        height: 23%;
        /* outline: 1px solid whitesmoke; */
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .corte{
        width: 40%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .corte img {
        width: 100%;
    }

    .lista p{
        font-size: 150%;
        color: whitesmoke;
        width: 30%;
    }

    .linha3{
        width: 100%;
        height: 20vh;
        margin-top: 8%;
        padding: 2% 0 2% 0;
        background-color: #4267B2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .linha3 h2{
        text-align: center;
        font-size: 150%;
        color: whitesmoke;
    }

    .linha3 p{
        text-align: center;
        font-size: 120%;
        color: whitesmoke;
    }

    .linha3 a{
        font-size: 120%;
        text-decoration: none;
        color: whitesmoke;
    }